@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  --primary-color: #E5E4E2;
  --secondary-color: #818589;
  --accent-col: #E5E4E2;
  background-color: #121212;
  --accent-col: #36454F;
  padding: 0;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

header {
  color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--accent-col);
  height: 8vh;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-text h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
}

.header-text p {
  margin: 0;
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-size: .9rem;
  font-weight:800;
}

.menu-toggle {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  margin-left: 25px;
  font-weight: 900;
  cursor: pointer;
}

.filler {
  width: 47px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border-right: 1px solid;
  border-color: var(--accent-col);
}

.side-header {
  display: inherit;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--accent-col);
}

.side-header h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 15px 0;
  margin-left: 15px;
  color: var(--primary-color);
}

.new-note {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.7rem;
  padding-right: 25px;
  padding-left: 25px;
  color: var(--primary-color);
}

.new-note:hover {
  cursor: pointer;
  background-color: var(--accent-col);
  color: white;
}

#note-titles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  width: 100%;
  height: 91.5vh;
  padding: 0;
  margin: 0;
}
.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}


#body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--accent-col);
  width: 100%;
  color: var(--primary-color);
  height: 100px;
}

#note-header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 15px;
}

#note-header .title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 0;
  text-decoration: none;
  background-color: #121212;
  border: none;
  border-style: none;
  color: var(--primary-color);
  width: 100%;
}

#note-header .title:focus {
  outline: none;
}

#note-header span {
  display: flex;
  justify-content: center;
  height: 100%;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  color: var(--primary-color);
}

.save-btn:hover {
  cursor: pointer;
  background-color: var(--accent-col);
  color: white;
}

.del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  color: var(--primary-color);
}

.del-btn:hover {
  cursor: pointer;
  background-color: var(--accent-col);
  color: white;
}

.editor {
  width: 100%;
  height: 84%;
  padding: 0;
  margin: 0;
  color:#E5E4E2;
} 

.editor::placeholder {
  color: #E5E4E2;
  background-color: #818589;
}

.date {
  text-decoration: none;
  color-scheme: dark;
  color: #818589;
  background-color: #121212;
  border: none;
  font-size: 1rem;
  width: 210px;
}

.view-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 0;
}

.note-title {
  font-weight: 900;
  height: 100px;
  width: 100%;
  text-decoration: none;
  background-color: inherit;
  border: none;
  border-style: none;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.note-title:hover {
  cursor: pointer;
  background-color: var(--accent-col);
  color: var(--primary-color);
}

.note-title h2 {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 15px;
  width: 100%;
  font-size: 1.4rem;
}

.note-title p {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 5px;
  font-size: x-small;
}

.active {
  background-color: var(--accent-col);
  color: var(--primary-color);
}